@font-face {
    font-family: "motserrat_alternates";
    src: url("/fonts/motserrat_alternates/MontserratAlternates-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "alumni_sans";
    src: url("/fonts/Alumni_Sans/static/AlumniSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "baloo";
    src: url("/fonts/baloo/baloo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --cvxnFont01: "Arial";
    --cvxnFont02: "Helvetica";
    --cvxnFont03: sans-serif;
    --cvxnFont04: monospace;
    --cvxnFont05: "Times New Roman";
    --cvxnFont06: "Courier New";
    --cvxnFont07: "Courier";
    --cvxnFont08: "Verdana";
    --cvxnFont09: "Georgia";
    --cvxnFont10: "Garamond";
    --cvxnFont11: "Palatino";
    --cvxnFont12: "Bookman";
    --cvxnFont13: "Trebuchet";
    --cvxnFont14: "Tahoma";
    --cvxnFont15: "Arial Black";
    --cvxnFont16: "Comic Sans MS";
    --cvxnFont17: "Impact";

    /*font-family: 'alumni_sans';*/
    /*font-family: 'motserrat_alternates';*/
    /*font-family: 'baloo';*/
    font-family: var(--cvxnFont03);
}

.cn1850 {
    padding: 8px;
}

.cn1909 {
    color: blue;
}

